{{ define "index" }}
<html>
{{ template "head" . }}

  <header>
    <h1>{{ .meta.Title }}</h1>
    <h2>{{ .meta.Description }}</h2>
  </header>
  <body>
    <main>
      <div class="index">
        <table>
          <thead>
	    <tr>
	      <th>Repo</th>
	      <th>Description</th>
	      <th>Age</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{ range .info }}
	    <tr>
	      <td><a href="/{{ .Name }}">{{ .DisplayName  }}</a></td>
	      <td>{{ .Desc  }}</td>
	      <td>{{ .Idle  }}</td>
	    </tr>
	    {{ end }}
	  <tbody>
	</table>
      </div>
    </main>
  </body>
</html>
{{ end }}
