{{ define "log" }}
<html>
{{ template "head" . }}

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}
      <div class="log">
	<div class="log-col-title">Commit</div>
	<div class="log-col-title">Message</div>
	<div class="log-col-title">Author</div>
	<div class="log-col-title">Age</div>
        {{ range .commits }}
	<div><a href="/{{ $repo }}/commit/{{ .Hash.String }}" class="commit-hash">{{ slice .Hash.String 0 8 }}</a></div>
	<pre>{{ .Message }}</pre>
	<div>{{ .Author.Name }} </div>
	<div>{{ .Author.When.Format "02 Jan 2006" }}</div>
        {{ end }}
      </div>
    </main>
  </body>
</html>
{{ end }}
