{{ define "refs" }}
<html>
{{ template "head" . }}

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      {{ $name := .name }}
      <table>
      	<thead>
	  <tr>
	    <th>Branches</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	{{ range .branches }}
	<tr>
          <td><strong>{{ .Name.Short  }}</strong></td>
	  <td>
            <a href="/{{ $name }}/tree/{{ .Name.Short }}/">browse</a>
	    <a href="/{{ $name }}/log/{{ .Name.Short }}">log</a>
	    <a href="/{{ $name }}/archive/{{ .Name.Short }}.tar.gz">tar.gz</a>
	  </td>
	</tr>
	{{ end }}
	</tbody>
      </table>

      {{ if .tags }}
      <table>
      	<thead>
	  <tr>
	    <th>Tags</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	{{ range .tags }}
	<tr>
          <td><strong>{{ .Name  }}</strong></td>
	  <td>
            <a href="/{{ $name }}/tree/{{ .Name.Short }}/">browse</a>
	    <a href="/{{ $name }}/log/{{ .Name.Short }}">log</a>
	    <a href="/{{ $name }}/archive/{{ .Name }}.tar.gz">tar.gz</a>
	    {{ if .Message }}
	    <pre>{{ .Message }}</pre>
	    {{ end }}
	  </td>
	</tr>
	{{ end }}
	</tbody>
      </table>
      {{ end }}
    </main>
  </body>
</html>
{{ end }}
