{{ define "repo" }}
<html>
{{ template "head" . }}

{{ template "repoheader" . }}

  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}

      <table>
	<thead>
	  <tr>
	    <th>Age</th>
	    <th>Commit Message</th>
	    <th>Author</th>
	  </tr>
	</thead>
	<tbody>
	  {{ range .commits }}
	  <tr>
	    <td>{{ .Author.When.Format "02 Jan 2006"  }}</td>
	    <td><a href="/{{ $repo }}/commit/{{ .Hash.String }}" class="commit-hash">{{ .Message }}</a></td>
	    <td>{{ .Author.Name  }}</td>
	  </tr>
	  {{ end }}
	<tbody>
      </table>
{{- if .readme }}
      <article class="readme">
        {{- .readme -}}
      </article>
{{- end -}}

      <div class="clone-url">
        <strong class="log-col-title">Clone:</strong>
        <pre>
git clone https://{{ .servername }}/{{ .name }}
        </pre>
      </div>
    </main>
  </body>
</html>
{{ end }}
