{{ define "tree" }}
<html>

{{ template "head" . }}

  {{ template "repoheader" . }}
  <body>
    {{ template "nav" . }}
    <main>
      {{ $repo := .name }}
      {{ $ref := .ref }}
      {{ $parent := .parent }}

      <table>
	<thead>
	  <tr>
	    <th>Mode</th>
	    <th>Size</th>
	    <th>Name</th>
	  </tr>
	</thead>
	<tbody>
	  {{ if $parent }}
	  <tr>
	    <td></td>
	    <td></td>
	    <td><a href="/{{ $repo }}/tree/{{ $ref }}/{{ .dotdot }}">..</a></td>
	  </tr>
	  {{ end }}
	  {{ range .files }}
	  <tr>
	    {{ if not .IsFile }}
	    <td class="ls-mode">{{ .Mode  }}</td>
	    <td class="ls-mode">{{ .Size  }}</td>
	    <td>
	      {{ if $parent }}
	      <a href="/{{ $repo }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a>
	      {{ else }}
	      <a href="/{{ $repo }}/tree/{{ $ref }}/{{ .Name }}">{{ .Name }}/</a>
	      {{ end }}
	    </td>
	    {{ end }}
	  </tr>
	  {{ end }}
	  {{ range .files  }}
	  <tr>
	    {{ if .IsFile }}
	    <td class="ls-mode">{{ .Mode  }}</td>
	    <td class="ls-mode">{{ .Size  }}</td>
	    <td>
	      {{ if $parent }}
	      <a href="/{{ $repo }}/blob/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
	      {{ else }}
	      <a href="/{{ $repo }}/blob/{{ $ref }}/{{ .Name }}">{{ .Name }}</a>
	      {{ end }}
	    </td>
	    {{ end }}
	  </tr>
	  {{ end }}
	<tbody>
      </table>

      <article>
        <pre>
          {{- if .readme }}{{ .readme }}{{- end -}}
        </pre>
      </article>
    </main>
  </body>
</html>
{{ end }}
